body
{
	&> nav.Top
	{
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index: 10;
		
		a.Button
		{
			margin: 0px;
			&.ApplicationMenu
			{
				position: absolute;
				
				left: 16px;
				top: 18px;
				height: 32px;
				width: 32px;
			}
			&> i.fa
			{
				font-size: 24px;
				margin-left: 6px;
				margin-top: 4px;
			}
		}
	}
}