ul.Menu
{
	list-style-type: none;
	&.Popup
	{
		position: fixed;
	}
	&> li
	{
		display: none;
		&.Visible
		{
			display: list-item;
		}
		&> a
		{
			cursor: default;
			display: block;
			text-decoration: none;
			position: relative;
		}
	}
}
