input, textarea
{
	font: inherit;
}

div.TextBox
{
	display: inline-block;
	&:not(.RequireSelection)
	{
		cursor: text;
	}
	position: relative;
	
	&> div.SuggestionList
	{
		position: absolute;
		z-index: 8;
		
		&> ul
		{
			overflow: scroll;
			overflow-x: hidden;
			max-height: 150px;
			
			position: relative;
			
			&> li
			{
				&> a
				{
					&> i.fa
					{
						display: inline;
					}
				}
			}
		}
		&> div.Throbber
		{
			display: none;
		}
	}
	
	&.Loading
	{
		&> div.SuggestionList
		{
			&> ul
			{
				display: none;
			}
			&> div.Throbber
			{
				display: block;
			}
		}
	}
	
	&.RequireSelection
	{
		&::after
		{
			content: "";
			display: inline-block;
			font-family: FontAwesome;
			font-size: inherit;
			position: absolute;
			right: 10px;
			top: 16px;
			// transform: rotate(180deg);
		}
		
		&> div.TextboxContent
		{
			&> input
			{
				width: -moz-available;
				
				&:not(:focus)
				{
					cursor: default;
				}
			}
		}
	}
	&> div.SuggestionList > ul.Menu > li
	{
		&> a
		{
			&> i.fa
			{
				width: 16px;
				padding-right: 8px;
				opacity: 0;
				visibility: hidden;
			}
		}
		&.Selected
		{
			&> a
			{
				&> i.fa
				{
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	&> select.SuggestionList
	{
		display: none;
	}
}