div.Window
{
	background-color: #FFFFFF;
	
	&> div.Header, &> div.Content, &> div.Footer
	{
		padding: 16px;
	}
	&> div.Header
	{
		border-bottom: solid 1px #E2E7EB;
		color: #242A30;
		font-size: 18px;
		font-weight: 500;
	}
	&> div.Footer
	{
		border-top: solid 1px #E2E7EB;
	}
	&> div.Content
	{
		&> div.Loading
		{
			background-color: rgba(255, 255, 255, 0.8);
		}
	}
	
	transition: visibility linear 0.3s, opacity linear 0.3s, transform linear 0.3s;
	transform-origin: center center;
	transform: scale(0.0) scaleX(-2.0);
	&.Visible
	{
		transform: scale(1.0) scaleX(1.0);
	}
}