/* bring in stylesheet v24 */
@import "../24/Main.less";

@font-face
{
    font-family: "WorkdaySans";
    src: url('Fonts/WorkdaySans.eot');
    src: url('Fonts/WorkdaySans.eot?#iefix') format('embedded-opentype'),
    url('Fonts/WorkdaySans.woff') format('woff'),
    url('Fonts/WorkdaySans.ttf') format('truetype'),
    url('Fonts/WorkdaySans.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import "TextBox.less";
