div.AdditionalDetailWidget
{
	&> div.Content, &> div.Content > div.MenuItems > div.Content > ul.Menu > li ul.Menu
	{
		background-color: rgba(255, 255, 255, 0.98);
		box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
		
		border: solid 1px #D2D3D6;
		padding: 5px 0px;
	}
	
	&> a.AdditionalDetailButton
	{
		width: 8px;
		&::before
		{
			content: "";
			font-family: "FontAwesome";
		}
	}
}
