@ThemeColorDanger:				#E73C3C;
@ThemeColorPrimary:				#4F8EDC;
@ThemeColorSuccess:				#85C744;
@ThemeColorInfo:				#2BBCE0;
@ThemeColorWarning:				#F1C40F;

@ThemeColorBrown:				#C0392B;
@ThemeColorGreen:				#16A085;
@ThemeColorOrange:				#EFA131;
@ThemeColorPurple:				#E044AB;

@ThemeColorInverse:				#4F5259;

@HeaderHeight:					64px;
@SidebarWidth:					220px;

@SidebarForegroundNormalColor:	#808080;
@SidebarForegroundHoverColor:	#FFFFFF;