div.ListView
{
	border-collapse: collapse;
	
	&.HasBorder
	{
		border: solid 1px #E6E7E8;
	}
	
	&[data-mode="Detail"]
	{
		&> div.ListViewColumnHeaders > div.ListViewColumnHeader > a,
		&> div.ListViewItems > div.ListViewItem > div.ListViewItemColumn
		{
			padding: 10px;
		}
		
		&> div.ListViewColumnHeaders
		{
			background-color: #FFFFFF;
			&> div.ListViewColumnHeader
			{
				&> a
				{
					color: rgb(77, 77, 77);
					font-weight: 700;
					font-size: 14px;
				}
			}
		}
		
		&.GridLines
		{
			&> div.ListViewColumnHeaders > div.ListViewColumnHeader,
			&> div.ListViewItems > div.ListViewItem > div.ListViewItemColumn
			{
				border: solid 1px #E6E7E8;
			}
		}
		&.HotTracking
		{
			&> div.ListViewItems > div.ListViewItem:hover > div.ListViewItemColumn
			{
				background-color: rgb(237, 238, 240);
			}
		}
		&.AlternateRowHighlight
		{
			&> div.ListViewItems > div.ListViewItem:nth-child(2n+1)
			{
				background-color: rgb(247, 248, 250);
			}
			&> div.ListViewItems > div.ListViewItem:nth-child(2n)
			{
				background-color: #ffffff;
			}
		}
		
		&> div.ListViewItems > div.ListViewItem.Selected:nth-child(2n+1) > div.ListViewItemColumn
		{
			background-color: #017EBC;
			color: #FFFFFF;
		}
		&> div.ListViewItems > div.ListViewItem.Selected
		{
			&> div.ListViewItemColumn
			{
				background-color: #08C;
				color: #FFFFFF;
				&> a, div.AdditionalDetailWidget > a
				{
					color: #EEEEEE;
					&:hover
					{
						color: #FFFFFF;
					}
				}
			}
			&:hover > div.ListViewItemColumn
			{
				background-color: #0075B0;
				color: #FFFFFF;
			}
		}
	}
}
